.mt-15 {
	margin-top: 15px !important;		
}

.mt-20 {
	margin-top: 20px !important;	
}
/*
.form-horizontal label.control-label,
label.control-label {
    text-align: right;
}*/
.form-group {
    margin-bottom: 5px;
    /* padding: 3px; */
}